.search {
    width: 70vw;
    height: fit-content;
    top: 0;
    left: 20vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(170, 170, 170);
}

.search1 {
    width: max-content;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search1 input[type=text] {
    outline: none;
    border: none;
    background: none;
    margin-left: 8px;
    height: 80%;
    width: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

.search1 input[type=text]:focus {
    width: 60vw;
}

.icon1 {
    color: white;
    font-size: 30px;
}

@media(max-width: 450px) {
    .search1 input[type=text] {
        width: 6px;
    }
}