.cnt{
    width:350px;
    height:250px;
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: rgb(77, 3, 3);
    justify-content: center;
    align-items: center90;

}
.cnt-2{
    width: 350px;
    height:fit-content;
    background-color: burlywood;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.cnt-2 h1{
    margin: 5px 5px ;

}
