.footer {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.315);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}