.search-btn {
    height: 50px;
    width: 50px;
    background: black;
    color: wheat;
}

.p {
    font-size: 40px;
}

.header {
    height: 16vh;
    width: 100vw;
    background: #334FDE;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 4px black;
}

.h1 {
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
    display: flex;
}

.h2 {
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 0;
    display: flex;
}

.h-h1 {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.bar {
    margin-left: 8px;
    color: white;
    width: 70%;
    height: 50%;
    cursor: pointer;
}

.bar:hover {
    color: black;
    width: 72%;
    height: 52%;
}

.h-h2 {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-h2 p {
    margin-left: 3px;
    font-weight: 700;
    font-size: 30px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 25px;
    text-align: center;
}

.h-h2 h2 {
    margin-left: 10px;
    color: white;
}

.h-h3 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-h4 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-h1 {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.h2-h1:hover {
    color: black;
}

@media(max-width: 550px) {
    .header {
        height: 12vh;
    }
}